{% extends 'base.html.twig' %}

{% block title %}New ClassRoom{% endblock %}

{% block body %}
    <h1>Create new ClassRoom</h1>

    {{ include('class_room/_form.html.twig') }}

    <a href="{{ path('class_room_index') }}">back to list</a>
{% endblock %}
